@model IEnumerable<CMS_Client.Entities.Class>

@{
    ViewData["Title"] = "Home Page";
    var userId = int.Parse(Context.Session.GetString("userId"));
    var role = int.Parse(Context.Session.GetString("Role"));
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
            margin-left: 150px;
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }

    </style>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-controller="Home" asp-action="Index">Home</a>
        @if (role != 1)
        {
            <a asp-controller="Class" asp-action="Index" asp-route-id="@userId">My Class</a>
        }
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div class="container" id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <main role="main" class="pb-3">
            <div class="row mb-4">
                <h2 class="col-md" style="font-size: xxx-large;">My Class</h2>
                @if (role == 1)
                {
                    <div class="col-md d-md-flex justify-content-md-end align-items-center me-md-3">
                        <a class="btn btn-primary" asp-action="Create" role="button" style="margin-right: 36px;">Create New</a>
                    </div>
                }
            </div>

            <div id="cardDeck" class="row row-cols-1 row-cols-md-3">
                @foreach (var item in Model)
                {
                    <div class="col mb-3" style="width: 32%;">
                        <div class="card" aria-hidden="true">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span class="col-6" style="font-size: xx-large;">@Html.DisplayFor(modelItem => item.ClassCode)</span>
                                </h5>
                                <p class="card-text" style="white-space: nowrap;width: auto;overflow: hidden;text-overflow: ellipsis">
                                    <span class="col-8">@Html.DisplayFor(modelItem => item.Description)</span>
                                </p>
                                @if (userId == 1)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ClassId" style="width: 150px;margin-left: 10px;" class="btn btn-primary col mb-6">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.ClassId" style="width: 150px;margin-left: 30px;" class="btn btn-primary col mb-6">Delete</a>
                                }
                                else if (userId == 2)
                                {
                                    <a href="../Assignment/Index/?id=@Html.DisplayFor(modelItem => item.ClassId)" tabindex="-1" class="btn btn-primary col-6">Detail</a>
                                    @*<a asp-controller="Assignment" asp-action="Index" asp-route-id="@item.ClassId" class="btn btn-primary col-6">Detail</a>*@
                                }
                                else
                                {
                                    <a href="../Assignment/Index/?id=@Html.DisplayFor(modelItem => item.ClassId)" tabindex="-1" class="btn btn-primary col-6">Enroll</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "150px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</body>

</html>