@model IEnumerable<CMS_Client.Entities.Submission>

@{
    ViewBag.Title = "Student Submissions";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Student Submissions</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Student Name</th>                      
                        <th>Submission Date</th>
                        <th>Submission File</th>
                        <th>Grade</th>
                        <th>Feedback</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var submission in Model)
                    {
                        <tr>
                            <td>@submission.OwnerId</td>
                            <td>@submission.SubmissionTime</td>
                            <td>
                                <button class="btn btn-primary download-file" data-filename="@submission.FilePath">Download</button>
                            </td>
                             <td><input type="number" name="grade" value="@submission.Grade" /></td>
                            <td><input type="type" name="feedback" value="@submission.Feedback" /></td>
                               <td>
                                 <button class="btn btn-primary submit-btn" data-id="@submission.SubmissionId">Submit</button>
                               </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.download-file').click(function () {
            var filename = $(this).data('filename');
            var url = 'https://localhost:7158/api/Submission/DownloadFile/?filename=' + filename;
            var token = 'Bearer @Context.Session.GetString("JWT").Replace('"', ' ').Trim().ToString()'; // Replace with your access token function

            $.ajax({
                type: 'GET',
                url: url,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', token); // Set the authorization header
                },
                xhrFields: {
                    responseType: 'blob' // Set the response type to blob to handle binary data
                },
                success: function (data) {
                    var url = window.URL.createObjectURL(data);
                    var link = document.createElement('a');
                    link.href = url;
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        });
        $('.submit-btn').on('click', function () {
            var submissionId = $(this).data('id');
            var grade = $(this).closest('tr').find('input[name=grade]').val();
            var feedback = $(this).closest('tr').find('input[name=feedback]').val();
            console.log(grade);
            console.log(feedback);
            $.ajax({
                type: "POST",
                url: "https://localhost:7158/api/Submission/Grade/" + submissionId + "?grade=" + grade + "&feedback=" + feedback,
                headers: {
                    "Authorization": "Bearer @Context.Session.GetString("JWT").Replace('"', ' ').Trim().ToString()" // set the Authorization header with the auth token
                },
                success: function (response) {
                    console.log("Grade and feedback data submitted successfully!");
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error submitting grade and feedback data: " + error);
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

