@model IEnumerable<CMS_Client.Entities.Submission>

@{
    ViewBag.Title = "Student Submissions";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Student Submissions</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Student Name</th>                      
                        <th>Submission Date</th>
                        <th>Grade</th>
                        <th>Feedback</th>
                        <th>Submission File</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var submission in Model)
                    {
                        <tr>
                            <td>@submission.OwnerId</td>
                            <td>@submission.SubmissionTime</td>
                            <td>
                                <input type="number" value=" @submission.Grade" min="0" max="10">
                               </td>
                            <td><td>
                                <input type="text" value=" @submission.Feedback" >
                               </td></td>
                            <td>
                                <button class="btn btn-primary download-file" data-filename="@submission.FilePath">Download</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.download-file').click(function () {
            var filename = $(this).data('filename');
            var url = 'https://localhost:7158/api/Submission/DownloadFile/?filename=' + filename;
            var token = 'Bearer @Context.Session.GetString("JWT").Replace('"', ' ').Trim().ToString()'; // Replace with your access token function

            $.ajax({
                type: 'GET',
                url: url,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', token); // Set the authorization header
                },
                xhrFields: {
                    responseType: 'blob' // Set the response type to blob to handle binary data
                },
                success: function (data) {
                    var url = window.URL.createObjectURL(data);
                    var link = document.createElement('a');
                    link.href = url;
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>